<div class="min-h-screen flex items-center justify-center bg-cover bg-center"
  style="background-image: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470');">

  <!-- GLASS CARD -->
  <div class="w-95 backdrop-blur-lg bg-white/10 border border-white/20 rounded-2xl p-8 shadow-xl text-white">

    <h2 class="text-center text-xl font-semibold mb-6">LOGIN</h2>

    <form [formGroup]="form" (ngSubmit)="login()" class="space-y-5">

      <!-- EMAIL -->
      <div>
        <input type="text" placeholder="Username" formControlName="username"
          class="w-full bg-transparent border-b border-white/50 focus:outline-none py-2 placeholder-white/70" />

        @if (form.controls.username.touched && form.controls.username.invalid) {
        <p class="text-red-300 text-xs mt-1">Enter valid username</p>
        }
      </div>

      <!-- PASSWORD -->
      <div>
        <input type="password" placeholder="Password" formControlName="password"
          class="w-full bg-transparent border-b border-white/50 focus:outline-none py-2 placeholder-white/70" />

        @if (form.controls.password.touched && form.controls.password.invalid) {
        <p class="text-red-300 text-xs mt-1">Min 5 characters</p>
        }
      </div>

      <!-- REMEMBER -->
      <div class="flex items-center justify-between text-sm">
        <label class="flex items-center gap-2">
          <input type="checkbox" formControlName="remember" />
          Remember Me
        </label>

        <a class="text-white/70 hover:underline cursor-pointer">Forgot Password?</a>
      </div>

      <!-- ERROR -->
      @if (errorMsg) {
      <p class="text-red-400 text-sm">{{ errorMsg }}</p>
      }

      <!-- BUTTON -->
      <button type="submit" class="w-full bg-white/30 hover:bg-white/40 text-white py-2 rounded-lg transition">
        Login
      </button>

    </form>

  </div>

</div>