<!-- 
<div class="flex h-screen">

  <app-sidebar></app-sidebar>

  <div class="flex-1">
    <app-header></app-header>

    <router-outlet></router-outlet>
  </div>

</div> -->

<!-- <div class="flex h-screen">

  <app-sidebar></app-sidebar>

  <div class="flex-1 flex flex-col">

    <app-header></app-header>

    
    <main class="p-6 flex-1">
      <router-outlet></router-outlet>
    </main>

  </div>

</div> -->

<!-- <div class="flex h-screen overflow-hidden">

 
  <app-sidebar></app-sidebar>

  
  <div class="flex-1 flex flex-col w-full">

    
    <app-header></app-header>

   
    <main class="flex-1 overflow-y-auto p-4 md:p-6 bg-gray-50">
      <router-outlet></router-outlet>
    </main>

  </div>

</div> -->

<div class="flex h-screen overflow-hidden">

  <!-- SIDEBAR -->
  <app-sidebar [isOpen]="isSidebarOpen" (close)="toggleSidebar()"></app-sidebar>

  <!-- MAIN -->
  <div class="flex-1 flex flex-col w-full">

    <!-- HEADER -->
    <app-header (menuClick)="toggleSidebar()"></app-header>

    <main class="flex-1 overflow-y-auto p-4 md:p-6 bg-gray-200">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>