<div class="bg-white border border-gray-200 shadow-sm p-5 rounded-3xl transition-all duration-200 hover:shadow-md">
  <div class="flex justify-between mb-3">
    <div [ngClass]="bg"></div>
    <span class="text-xs font-bold" [ngClass]="text">{{change}}</span>
  </div>

  <p class="text-gray-500 text-xs uppercase">{{title}}</p>
  <h2 class="text-2xl font-bold">{{value}}</h2>

  <div class="h-1 bg-gray-200 mt-3 rounded-full">
    <div class="h-1 rounded-full" [ngClass]="bar"></div>
  </div>
</div>