<div
  class="relative rounded-2xl p-5 transition-all duration-300 cursor-pointer
         border border-[#207425]
         bg-green-200
         hover:shadow-xl hover:-translate-y-1
         overflow-hidden"

  [class.bg-[#f0fdf4]]="!highlight()"
  [class.bg-gradient-to-br]="highlight()"
  [class.from-[#064e3b]]="highlight()"
  [class.to-[#022c22]]="highlight()"
  [class.text-white]="highlight()"
>

  <!-- ICON -->
  <div class="flex justify-between items-center mb-3">

    <div class="text-2xl">
      {{ icon() }}
    </div>

    @if (change()) {
      <span class="text-xs font-medium"
            [class.text-green-600]="!highlight()"
            [class.text-green-300]="highlight()">
        {{ change() }}
      </span>
    }

  </div>

  <!-- TITLE -->
  <p class="text-xs uppercase tracking-wide opacity-70">
    {{ title() }}
  </p>

  <!-- VALUE -->
  <h3 class="text-xl md:text-2xl font-bold mt-2">
    {{ value() }}
  </h3>

  <!-- BADGE -->
  @if (highlight()) {
    <span class="absolute top-4 right-4 text-[10px] bg-green-500 px-2 py-1 rounded-full">
      URGENT
    </span>
  }

</div>
